@import url("https://fonts.googleapis.com/css?family=Oswald:300,700");

/* Taviraj */
@font-face {
  font-family: 'Taviraj';
  src: url(‘/fonts/Taviraj/Taviraj-VariableFont_wght.ttf’) format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

/* Work Sans */
@font-face {
  font-family: 'Work Sans';
  src: url(‘/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf’) format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

html, body {
    max-width: 1910px; /* Limitar el ancho máximo de todo el layout */
    margin: 0 auto;
    overflow-x: hidden; /* Esto evita que haya desplazamiento hacia la derecha */
    width: 100%;
    overscroll-behavior-y: none; /* Evita rebote al final del scroll */
}

/* tipografia --------------------------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Work Sans', sans-serif; /* Usar Futura PT para los encabezados */
}

body, p, li, a {
    font-family: "Oswald", sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
}

h2 {
    font-size: 2.5rem;
    font-weight: 500;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
}

/* Estilo de texto normal */
p, li, a {
    font-size: 1rem;
    font-weight: 300;
}

#projectp p:first-of-type::first-letter {
    font-family: 'Jost', sans-serif; /* Consistent font */
    font-size: clamp(5rem, 7vw, 8rem);
    font-weight: ;
    float: left; 
    line-height: 3;
    color: black;
    margin: .4rem .3rem 0 0;
}

.hidden-h1 {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
}

/* navbar-------------------------------------------------------------- */

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 0rem;

  z-index: 10;
  background-color: transparent; /* Navbar transparente inicial */
  transition: background-color 0.6s ease; /* Transición suave al cambiar color */
}

.logo img {
    height: calc(10vw + 10px); /* Ajusta el tamaño proporcionalmente */
    width: auto;
    max-height: calc(4.5vw + 12px);
    margin-left: 3rem;
}

/* Estilo cuando el navbar se oscurece */
.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.2); /* Un fondo oscuro */
}

.navbar ul {
  list-style: none;
  padding: 0 5rem;
  margin:2% 0;
  display:flex;
  align-items: center;
  gap: 4rem;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  padding-left: 3rem;
  transition: color 0.3s;
}

.hamburger-icon {
    display: none; /* Ocultar por defecto */
    cursor: pointer;
}

#mobilemenu {
    display: none;
}

.navbar ul li a:hover {
  color: #5D5E61;
}

#mobilemenu {
    display: none;
}

#menu-selected {
    white-space: nowrap; /* Evita que el texto pase a la siguiente línea */
}


/* mainpicture -------------------------------------------------------------- */

svg {
  display: block;
}

picture {
    display: block; /* Asegura que el elemento ocupe su propio bloque */
    width: 100%; /* La imagen se adaptará al ancho de la ventana */
    height: 100vh; /* La altura máxima será igual al viewport */
    position: relative; /* Necesario para posicionar correctamente los elementos internos */
    overflow: hidden; /* Evita que el contenido desborde los límites */
}

picture img {
  position: fixed;
  display: block;
  
  width: 100%;
  height: 100%;
  z-index: -1;

  object-fit: cover; /* Asegura que la imagen cubra el área sin deformarse */
  object-position: center; /* Centra la imagen si se recorta */
  max-width: 1910px; /* Requiere cambiar a su vez el max-width de html, body*/
  margin: 0 auto;
  max-height: 100vh; /* Evita que la imagen supere el alto del viewport */

  object-position: 0% 10%;

}

picture svg {
    position: absolute; /* Asegura que el SVG esté en la misma posición que la imagen */
    top: 0;
    left: 0;
    width: 100%; /* Adapta el SVG al ancho del <picture> */
    height: 100%; /* Asegura que el SVG ocupe el alto completo del <picture> */
    pointer-events: none; /* Evita que el SVG interrumpa las interacciones del usuario */
}

/* sections --------------------------------------------------------------------- */
.noticias {
    background-color: white;
}

.logonews {
    margin: 1.9rem 0 0 0;
    padding: 0 0 0 0;
}

.subsection {
    margin:0;
    padding:0;
}

#projectdevelopment {
    max-width: 900px;
    margin: 0 auto;
    padding: 1.8rem 0;
}

.section2-layout {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%; /* Permitir que el contenedor ocupe el espacio necesario */
    max-width: 900px; /* Limitar el ancho máximo */
    margin: 0 auto; /* Centrar el contenedor */
    text-align: left;
}

#projectpimg a img {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#projectp p {
    font-family: "Taviraj", serif;
    font-weight: 300;
    font-style: normal;
    font-size: clamp(1rem, 1.3vw, 1.6rem);
    text-align: left;
    padding: 0 1.5rem;
    hyphens: auto;

    letter-spacing: 0.04em; /* Ajusta el espacio entre las letras */
    word-spacing: 0.2em; /* Ajusta el espacio entre las palabras */
    line-height: 1.4; /* Ajusta el espacio entre las líneas */
}

#projectp {
    margin-bottom: 1rem;
}

/* Contenedor principal */
#mainpicture-container {
  width: 100%;
  height: 100vh; /* Ocupa el alto del viewport */
  background-color: black; /* Fondo negro para el contenedor */
  display: flex;
  justify-content: center;
  align-items: center; /* Centra la imagen */
  overflow: hidden; /* Evita desbordamientos */
  position: relative; /* Necesario para el posicionamiento absoluto de las imágenes */
}

#main-title {

}

.date-main{
    font-size: 1rem;
}

/* news ----------------------------------------------------------------------- */
.wd, .LAFandD {
    text-decoration: none; /* Quita el subrayado */
    color: black; /* Un color que los diferencie del texto normal */
    font-weight: bold; /* Un poco más grueso para destacarlo */
    font-size: 1.1rem;
}

.wd:hover, .LAFandD:hover {
    text-decoration: underline; /* Subrayado al pasar el cursor */
    color: #D86028; /* Un tono más brillante al pasar el ratón */
}
/* Footer ----------------------------------------------------------------------------------- */
.footer {
    display: flex; 
    justify-content: space-evenly;  /* Distribuir el espacio entre los elementos */
    align-items: center;             /* Alinea los elementos verticalmente al centro */
    padding:1vw;
    flex-wrap: wrap;  /* Permite que los elementos se envuelvan cuando el tamaño de la pantalla cambie */
    border-top: 1px solid black;
    margin: 0 2vh 1.5vh 2vh;
    background-color: white;
}

picture img.hidden {
        display: none;
    } /* aqui atribuimos una  clase hidden al footer para esconder el fondo 
    cuando se ve el footer. No encuentro otra manera de esconder la imagen 
    de fondo sin afectar al layout que js, css no me lo permite */

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Alineación a la izquierda */
    gap: 0.8rem; /* Espaciado uniforme entre elementos */
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    margin: .2rem 0;
    color: black;
}

.footer-links.right {
    align-items: flex-end; /* Alineación a la derecha */
}

.footer-icon {
    display: flex;
    align-items: center;
    gap: 1.6rem; /* Espaciado uniforme entre elementos */
}

.footer-icon img {
    width: 3.5rem;
    height: 3.5rem;
}

.footer-icon .web {
    font-size: .6rem;
}

.footer-links a,
.footer-links p {
    margin: 0; /* Quitar márgenes predeterminados */
    text-align: center; /* Opcional: Centrar el texto */
}

.footer-icon .web a {
    text-decoration: none;
    color: #fff;
    font-size: .6rem;
}

.footer-links.right .copy,
.footer-links.right .copy a {
    font-size: .6rem;
}

.footer-links.right a,
.footer-links.left a {
    font-weight: normal;
    letter-spacing: 0.02em;
}

.copy a {
    animation: colorChange 1.5s infinite; /* Duración de la animación y bucle infinito */
    text-decoration: none; /* Opcional: elimina el subrayado */
    font-weight:;
  }

  @keyframes colorChange {
    0% { color: #2C3E50; }   /* Azul oscuro */
    20% { color: #34495E; }  /* Gris azulado */
    40% { color: #7F8C8D; }  /* Gris piedra */
    60% { color: #95A5A6; }  /* Gris plata */
    80% { color: #BDC3C7; }  /* Gris claro */
    100% { color: #2C3E50; } /* Vuelve al azul oscuro */
  }

.footer a:hover {
    transform: scale(1.10);  /* Un pequeño aumento de tamaño que no afecta el layout en grandes medidas */
    transition: transform 0.3s ease;
}

a.email:hover {
    text-decoration: underline !important;
}

.footer .phones a {
    display: inline-block; /* Asegura que transformaciones funcionan */
}

.footer .phones a:first-child {
    padding-right: 1rem; /* Ajusta este valor según lo que necesites */
}


/* Responsive Design --------------------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width: 768px) {
  .menu {
        display: none;
  }

  .menu a[href="#wedo"] {
        display: none !important; /* Oculta el enlace con "We Do" */
  }

  .navbar .menu a {
        display: none !important; /* Oculta todos los enlaces de la barra de navegación */
  }

  .hamburger-icon {
        display: block; /* Mostrar en versión móvil */
        position: absolute;
        top: 50%; /* Centrado verticalmente */
        right: 2rem; /* Alineado al extremo derecho */
        transform: translateY(-50%); /* Centrado perfecto */
        font-size: 1rem;
        padding: 0 .4rem 0 0;
    }

.hamburger-icon img {
        width: 25px; /* Ajusta según el tamaño que necesites */
        height: auto;
    }

  /* Ajustes adicionales si necesitas modificar el logo o el menú */
    .logo img {
        height: calc(15vw + 20px); /* Hace que el logo sea más grande en pantallas pequeñas */
        max-height: calc(10vw + 9px); /* Ajusta la altura máxima para que sea más grande */
        margin-top: .3rem;
        margin-left:2rem;
    }

    picture img {
        object-position: 25% 60%; /* Ajusta la posición de la imagen para móviles */
    }

  /* Mobile Menu ------------------------------------------------------------------------------------------------------------------------------------------------ */
    #mobilemenu {
        display: block;
        position: fixed;
        top: 0;
        right: -100%; /* Oculto fuera de la pantalla */
        height: 100vh; /* Ocupa toda la altura de la pantalla */
        width: 100vw; /* Ocupa todo el ancho de la pantalla */
        background-color: rgba(0, 0, 0, 0.80); /* Fondo negro semitransparente */
        z-index: 999; /* Siempre encima de otros elementos */
        transition: right 0.4s ease-in-out; /* Animación de deslizamiento */
    }

    picture img {
        object-position: 60% 80%; /* Ajusta la posición de la imagen para móviles */
    }

    /* Mobile Menu Visible */
    #mobilemenu.show {
        right: 0; /* Desliza hacia dentro de la pantalla */
    }

    /* Close Button */
    .close-menu {
        font-size: 2rem;
        color: white;
        text-align: right;
        padding: 1.3rem 2.6rem;
        cursor: pointer;
    }

    /* Mobile Menu Content */
    .mobilemenu-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 3rem); /* Resta espacio para el botón de cerrar */
        text-align: center;
    }

    .mobilemenu-content a {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        margin: .5rem 0;
        font-family: 'Work Sans', sans-serif;
        font-weight: 600;
        transition: color 0.3s ease;
    }

    .mobilemenu-content a:hover {
        color: #f0a500; /* Cambia a un color más llamativo al pasar el cursor */
    }

    .menu {
        display: none;
    }

    .menu a[href="#wedo"] {
        display: none; /* Oculta el enlace con "We Do" */
    }

    .logomovil {
        display: flex; /* Centra el contenido dentro del contenedor */
        justify-content: center;
        align-items: center;
        width: 100%; /* Ocupa todo el ancho del contenedor */
        margin: 0 auto; /* Centra dentro de su contenedor padre */
    }

    .logomovil img {
        width: 100px; /* Tamaño específico */
        height: auto; /* Mantiene las proporciones */
        max-width: 100%; /* Asegura que no exceda el contenedor */
    }

    /* news ---------------------------------------------------------------------------------------------------------------------------------------- */
    .main-title {
        text-align: left;
        padding: 0 1.3rem;
        font-size: 2rem;
        font-weight: 500;
        

    line-height:1;
    letter-spacing:0.05em;
    hyphens: auto;
    }

    #projectp {
        margin: .8rem 0 0 0;
    }

    .logonews {
        margin:.2rem .8rem;
        padding:0 .5rem;

    }

    .subsection {
        font-size: 1rem !important;
        margin:0 1rem;
        padding:0 .5rem;
    }

    #projectdev {
        font-size: 1rem;
        margin:0 1rem 1rem 1.3rem;

    }

    #projectpimg a img {
        width: 96%;
    }

    #projectp p {
        text-align: justify;
        hyphens: auto;
        
    }

    #projectp p:first-of-type::first-letter {
        font-family: 'Jost', sans-serif; /* Consistent font */
        font-size: 5.5rem;
        font-weight:;
        float: left; 
        line-height: 3;
        color: black;
        margin: .4rem .3rem 0 0;
    }

    /* footer -------------------------------------------------------------------------------------------------------------------------------------------------- */
    .footer {
        display: flex;
        flex-direction: column; /* Cambia la disposición a vertical */
        justify-content: center; /* Centrar los bloques */
        align-items: flex-end; /* Asegura que todo esté centrado */
        margin: 1.5vh 2vh 0 2vh;
        padding: 2vh;
        height: auto; /* Permite ajuste dinámico en móviles */
        border-top: 1.5px solid black;
    }

    picture img.hidden {
        display: none;
    } /* aqui atribuimos una  clase hidden al footer para esconder el fondo 
    cuando se ve el footer. No encuentro otra manera de esconder la imagen 
    de fondo sin afectar al layout que js, css no me lo permite */

    .footer-links a, p {
        font-size: 0.8rem; 
        text-align: right; 
        padding: 0;
    }

    .footer-icon {
        gap: .3rem; /* Espaciado uniforme entre elementos */
    }

    .footer-icon img {
        width: 2.2rem;
        height: auto;
        padding:.5rem .2rem 0 0;
        margin:0;
    }

    .footer, .copy {
        font-size: .5rem;
    }

    .footer-links.right, .footer-links.left  {
        align-items: flex-end;
    }

    .footer .phones a:first-child {
        padding-right: .5rem; /* Ajusta este valor según lo que necesites */
    }
}
