@import url("https://fonts.googleapis.com/css?family=Oswald:300,700");

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Prevenir el desplazamiento y el rebote en la página */
html, body {
    overflow-x: hidden; /* Solo oculta el desplazamiento horizontal */
    overflow-y: auto; /* Permite desplazamiento vertical */

}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    background-color: white; /* Fondo negro para todo el cuerpo */
    color: black; /* Texto blanco para todo el cuerpo */
    min-height: 100vh; /* Asegura que el cuerpo ocupa toda la altura de la pantalla */

}

.container {
    width: 100%;
    flex: 1; /* Permite que el contenido principal ocupe el espacio restante */
    max-width: 1910px; /* Limitar el ancho máximo de todo el layout */
    margin: 0 auto;
}

/* tipografia --------------------------------------------------------------------------------------- */

body, p, li, a {
    font-family: "Oswald", sans-serif;
}

 .copy a {
    animation: colorChange 1.5s infinite; /* Duración de la animación y bucle infinito */
    text-decoration: none; /* Opcional: elimina el subrayado */
    font-weight:;
  }

  @keyframes colorChange {
    0% { color: #2C3E50; }   /* Azul oscuro */
    20% { color: #34495E; }  /* Gris azulado */
    40% { color: #7F8C8D; }  /* Gris piedra */
    60% { color: #95A5A6; }  /* Gris plata */
    80% { color: #BDC3C7; }  /* Gris claro */
    100% { color: #2C3E50; } /* Vuelve al azul oscuro */
  }

/* Navbar superpuesto sobre el video --------------------------------------------------- */
.video-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 86vh; /* Limita la altura para recortar verticalmente */
}

/* Ajuste responsive para el video */
.video-container video {
    width: 100%;
    height: 100%; /* Mantiene el formato panorámico */
    object-fit: cover;
    object-position: center; /* Centra el video en la parte superior */
}

/* navbar ----------------------------------------------------------- */

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 0rem;

  z-index: 10;
  transition: background-color 0.6s ease; /* Transición suave al cambiar color */
  background-color: rgba(0, 0, 0, 0.2); /* Un fondo oscuro */
}

.logo img {
    height: calc(10vw + 10px); /* Ajusta el tamaño proporcionalmente */
    width: auto;
    max-height: calc(4.5vw + 12px);
    margin-left: 3rem;
}

.navbar ul {
  list-style: none;
  padding: 0 5rem;
  margin:2% 0;
  display:flex;
  align-items: center;
  gap: 4rem;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  font-size: clamp(1rem, 2vw, 1.5rem);
  padding-left: 3rem;
  transition: color 0.3s;
}

.hamburger-icon {
    display: none; /* Ocultar por defecto */
    cursor: pointer;
}

#mobilemenu {
    display: none;
}

.navbar ul li a:hover {
  color: #5D5E61;
}

/* Footer -----------------------------------------------------------------*/
.footer {
    display: flex; 
    justify-content: space-evenly;  /* Distribuir el espacio entre los elementos */
    align-items: center;             /* Alinea los elementos verticalmente al centro */
    padding: 1vw;  /* Espaciado interno en los laterales */
    height: auto;  /* Ajuste dinámico para el tamaño de la altura */
    flex-wrap: wrap;  /* Permite que los elementos se envuelvan cuando el tamaño de la pantalla cambie */
    border-top: 1px solid black;
    margin: 2vh 2vh 0 2vh;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Alineación a la izquierda */
    gap: 0.8rem; /* Espaciado uniforme entre elementos */
}

.footer-links a {
    text-decoration: none;
    font-size: clamp(.9rem, 1vw, .9rem);
    margin: .2rem 0;
    color: black;
}

.footer-links.right {
    align-items: flex-end; /* Alineación a la derecha */
}

.footer-icon {
    display: flex;
    align-items: center;
    gap: 1.6rem; /* Espaciado uniforme entre elementos */
}

.footer-icon img {
    width: 3.5rem;
    height: 3.5rem;
}

.footer-icon .web {
    font-size: .6rem;
}

.footer-links a,
.footer-links p {
    margin: 0; /* Quitar márgenes predeterminados */
    text-align: center; /* Opcional: Centrar el texto */
}

.footer-icon .web a {
    text-decoration: none;

}

.footer a:hover {
    transform: scale(1.10);  /* Un pequeño aumento de tamaño que no afecta el layout en grandes medidas */
    transition: transform 0.3s ease;
}

.footer .phones a {
    display: inline-block; /* Asegura que transformaciones funcionan */
}

.footer .phones a:first-child {
    padding-right: 1rem; /* Ajusta este valor según lo que necesites */
}

.footer-links.right .copy {
    font-size: clamp(.4rem, .6vw, .7rem);
    font-weight: 300;
}

.copy .email {
    font-size:clamp(.5rem, .6vw, .7rem);
}

.footer-links.right a,
.footer-links.left a {
    font-weight: 300;
    letter-spacing: 0.02em;
}

a.email:hover {
    text-decoration: underline !important;
}
.footercenter {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.h1seo a {
    text-decoration: none;
    color:black;
}

#h1seo {
    font-size: clamp(1.4rem, 1.8vw, 2.2rem);
    margin: 0 0 1rem 0;
    font-weight:400;
    letter-spacing: 0.05em;
}

/* Responsive Design ------------------------------------------------------------- */
@media (max-width: 768px) {
    .container {

    }
    /* Ajuste del video para que ocupe un 80% de la altura */
    .video-container {
        height: 75vh; /* El video ocupa el 80% de la altura de la pantalla */
        background-color: black;  /* Fondo negro en el resto de la pantalla */
        position: relative;  /* Asegura que el navbar siga encima del video */

    }

    /* El video se ajusta y cubre el contenedor */
    .video-container video {
        width: 100%;
        height: 100%;  /* El video ocupa toda la altura disponible */
        object-fit: cover; /* Hace que el video cubra toda el área sin distorsionarse */
        object-position: center; /* Asegura que el video esté alineado desde la parte superior */
    }

    /* Navbar encima del video */
    .navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1rem 2rem;  /* Ajuste de padding para que no sea tan grande en móvil */
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        z-index: 10; /* Asegura que el navbar esté encima del video */
    }

    .hamburger-icon {
        display: block; /* Mostrar en versión móvil */
        position: absolute;
        top: 50%; /* Centrado verticalmente */
        right: 2rem; /* Alineado al extremo derecho */
        transform: translateY(-50%); /* Centrado perfecto */
        font-size: 1rem;
        padding: .5rem .4rem 0 0;
    }

    .hamburger-icon img {
        width: 25px; /* Ajusta según el tamaño que necesites */
        height: auto;
    }

    /* Ajustes adicionales si necesitas modificar el logo o el menú */
    .logo img {
        height: calc(15vw + 20px); /* Hace que el logo sea más grande en pantallas pequeñas */
        max-height: calc(10vw + 9px); /* Ajusta la altura máxima para que sea más grande */
        margin-top: .8rem;
        margin-left:0;
    }

    /* Mobile Menu ---------------------------------------------------------------------- */
    #mobilemenu {
        display: block;
        position: fixed;
        top: 0;
        right: -100%; /* Oculto fuera de la pantalla */
        height: 100vh; /* Ocupa toda la altura de la pantalla */
        width: 100vw; /* Ocupa todo el ancho de la pantalla */
        background-color: rgba(0, 0, 0, 0.80); /* Fondo negro semitransparente */
        z-index: 999; /* Siempre encima de otros elementos */
        transition: right 0.4s ease-in-out; /* Animación de deslizamiento */
    }

    /* Mobile Menu Visible */
    #mobilemenu.show {
        right: 0; /* Desliza hacia dentro de la pantalla */
    }

    /* Close Button */
    .close-menu {
        font-size: 2rem;
        color: white;
        text-align: right;
        padding: 1.3rem 2.6rem;
        cursor: pointer;
    }

    /* Mobile Menu Content */
    .mobilemenu-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 3rem); /* Resta espacio para el botón de cerrar */
        text-align: center;
    }

    .mobilemenu-content a {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        margin: .5rem 0;
        font-family: 'Work Sans', sans-serif;
        font-weight: 600;
        transition: color 0.3s ease;
    }

    .mobilemenu-content a:hover {
        color: #f0a500; /* Cambia a un color más llamativo al pasar el cursor */
    }

    .menu {
        display: none;
    }

    .menu a[href="#wedo"] {
        display: none; /* Oculta el enlace con "We Do" */
    }

    .logomovil {
        display: flex; /* Centra el contenido dentro del contenedor */
        justify-content: center;
        align-items: center;
        width: 100%; /* Ocupa todo el ancho del contenedor */
        margin: 0 auto; /* Centra dentro de su contenedor padre */
    }

    .logomovil img {
        width: 100px; /* Tamaño específico */
        height: auto; /* Mantiene las proporciones */
        max-width: 100%; /* Asegura que no exceda el contenedor */
    }

    /* footer ------------------------------------------------------------------------- */
    .footer {
        display: flex;
        flex-direction: column; /* Cambia la disposición a vertical */
        justify-content: center; /* Centrar los bloques */
        align-items: flex-end; /* Asegura que todo esté centrado */
        margin: 1.5vh 2vh 0 2vh;
        padding: 2vh;
        height: auto; /* Permite ajuste dinámico en móviles */
        border-top: 1.5px solid black;
    }
   
    .footer-links a, p {
        font-weight:no;
        font-size: 0.8rem; /* Reducir el tamaño de la fuente */
        text-align: right; /* Alineación del texto a la derecha */
        padding: 0;
        
    }

    .footer-icon img {
        width: 2.2rem;
        height: auto;
        padding:.5rem .2rem 0 0;
        margin:0;
    }

    .footer, .copy {
        font-size: .5rem;
    }

    .footer-links.right, .footer-links.left  {
        align-items: flex-end; /* Centrar los elementos en el bloque derecho */
    }

    .footer .phones a:first-child {
    padding-right: .5rem; /* Ajusta este valor según lo que necesites */
    }

    .footer-links.left, .footercenter, .footer-links.right {
    display: contents;
    }

    .footer-links.left .emailTT {
        padding: 0 0 .5rem 0;
    }

    .footer-links.left .phones {
        padding: 0 0 .3rem 0;
    }

    .footer-icon {
        padding: 0 0 .4rem 0;
    }

    .footer-links.right .map {
        padding: 0 0 .5rem 0;
    }

    .footer-links.right .copy {
        font-size: .5rem;
    }


    /* Ahora, asignas order a los elementos hijos directos del footer */
    #h1seo { order: 1; }
    .emailTT { order: 2; }
    .phones { order: 3; }
    .map { order: 5; }
    .footer-icon { order: 4; }
    .copy {order: 6;}
}









