@import url("https://fonts.googleapis.com/css?family=Oswald:300,700");

html, body {
    max-width: 1910px; /* Limitar el ancho máximo de todo el layout */
    margin: 0 auto;
    overflow-x: hidden; /* Esto evita que haya desplazamiento hacia la derecha */
    width: 100%;
    overscroll-behavior-y: none; /* Evita rebote al final del scroll */
}

/* tipografia --------------------------------------------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Futura PT', sans-serif; /* Usar Futura PT para los encabezados */
}

body, p, li, a {
    font-family: "Oswald", sans-serif;
}

h1 {
    font-size: 3rem;
    font-weight: 600;
}

h2 {
    font-size: 2.5rem;
    font-weight: 500;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
}

/* Estilo de texto normal */
p, li, a {
    font-size: 1rem;
    font-weight: 300;
}

/* navbar-------------------------------------------------------------- */

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 0rem;

  z-index: 10;
  background-color: transparent; /* Navbar transparente inicial */
  transition: background-color 0.6s ease; /* Transición suave al cambiar color */
}

.logo img {
    height: calc(10vw + 10px); /* Ajusta el tamaño proporcionalmente */
    width: auto;
    max-height: calc(4.5vw + 12px);
    margin-left: 3rem;
}

/* Estilo cuando el navbar se oscurece */
.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.2); /* Un fondo oscuro */
}

.navbar ul {
  list-style: none;
  padding: 0 5rem;
  margin:2% 0;
  display:flex;
  align-items: center;
  gap: 4rem;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  padding-left: 3rem;
  transition: color 0.3s;
}

.hamburger-icon {
    display: none; /* Ocultar por defecto */
    cursor: pointer;
}

#mobilemenu {
    display: none;
}

.navbar ul li a:hover {
  color: #346A44;
}

#mobilemenu {
    display: none;
}

/* mainpicture -------------------------------------------------------------- */

svg {
  display: block;
}

picture {
    display: block; /* Asegura que el elemento ocupe su propio bloque */
    width: 100%; /* La imagen se adaptará al ancho de la ventana */
    height: 100vh; /* La altura máxima será igual al viewport */
    position: relative; /* Necesario para posicionar correctamente los elementos internos */
    overflow: hidden; /* Evita que el contenido desborde los límites */
}

picture img {
  position: fixed;
  display: block;
  
  width: 100%;
  height: 100%;
  z-index: -1;

  object-fit: cover; /* Asegura que la imagen cubra el área sin deformarse */
  object-position: center; /* Centra la imagen si se recorta */
  max-width: 1910px; /* Requiere cambiar a su vez el max-width de html, body*/
  margin: 0 auto;
  max-height: 100vh; /* Evita que la imagen supere el alto del viewport */
}

picture svg {
    position: absolute; /* Asegura que el SVG esté en la misma posición que la imagen */
    top: 0;
    left: 0;
    width: 100%; /* Adapta el SVG al ancho del <picture> */
    height: 100%; /* Asegura que el SVG ocupe el alto completo del <picture> */
    pointer-events: none; /* Evita que el SVG interrumpa las interacciones del usuario */
}

/* sections --------------------------------------------------------------------- */

section {
    background-color: white;
}

#image-grid {
    padding: 3rem;
}

.jobswedo h2 {
    padding: 0 0 .5rem 0;
    margin:2rem 0 1rem 0;
    font-size: calc(1.2rem + 1.3vw); /* La fuente crecerá dinámicamente */
    font-weight: 200;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas, cada una con el mismo tamaño */
    gap: 3rem;
    max-width: 100%; /* Ajusta el tamaño del contenedor */
    margin: 0 auto; /* Centra el contenedor */
    
}

/* Estilo para cada ítem de la cuadrícula */
.grid-item {
    /* background-color: #f1f1f1; /* Fondo para cada imagen */
    border-radius:0; /* Bordes redondeados */
    text-align: center; /* Centra el texto */
}

.grid-item img {
    width: 100%; /* La imagen ocupa el 100% del ancho de su contenedor */
    height: auto; /* La altura se ajusta proporcionalmente */
    border-radius:0; /* Bordes redondeados para la imagen */
}

/* Estilo para el título y el párrafo */
.grid-item h3 {
    font-size: 1.2rem;
    margin:2rem 0 1rem 0;
}

.grid-item p {
    font-size: 1rem;
    margin-top: 5px;
    color: #666; /* Color más suave para el texto */
}

/*grid text items ---------------------------------------------------------------------------------- */
.grid-item {
    text-align: left;
}

.title {
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 25px;
}

.body-text {
     font-weight: 100;
     padding: 0 1rem;
}

.jobswedo .title {
    font-size: calc(1.1rem + 1.2vw); /* La fuente crecerá dinámicamente */
    font-weight: 500;
    margin-bottom: 2rem;

    line-height:1.5;
    letter-spacing:0.1em;
    word-spacing:0;
    hyphens: auto;

}


/* Footer ----------------------------------------------------------------------------------- */
.footer {
    display: flex; 
    justify-content: space-evenly;  /* Distribuir el espacio entre los elementos */
    align-items: center;             /* Alinea los elementos verticalmente al centro */
    padding:1vw;
    flex-wrap: wrap;  /* Permite que los elementos se envuelvan cuando el tamaño de la pantalla cambie */
    border-top: 1px solid black;
    margin: 0 2vh 1.5vh 2vh;
    background-color: white;
}

picture img.hidden {
        display: none;
    } /* aqui atribuimos una  clase hidden al footer para esconder el fondo 
    cuando se ve el footer. No encuentro otra manera de esconder la imagen 
    de fondo sin afectar al layout que js, css no me lo permite */

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; /* Alineación a la izquierda */
    gap: 0.8rem; /* Espaciado uniforme entre elementos */
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    margin: .2rem 0;
    color: black;
}

.footer-links.right {
    align-items: flex-end; /* Alineación a la derecha */
}

.footer-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem; /* Espaciado uniforme entre elementos */
}

.footer-icon img {
    width: 3.5rem;
    height: 3.5rem;
}

.footer-icon .web {
    font-size: .6rem;
}

.footer-links a,
.footer-links p {
    margin: 0; /* Quitar márgenes predeterminados */
    text-align: center; /* Opcional: Centrar el texto */
}

.footer-icon .web a {
    text-decoration: none;
    color: #fff;
    font-size: .6rem;
}

.footer-links.right .copy,
.footer-links.right .copy a {
    font-size: .6rem;
}

.footer a:hover {
    transform: scale(1.10);  /* Un pequeño aumento de tamaño que no afecta el layout en grandes medidas */
    transition: transform 0.3s ease;
}

a.email:hover {
    text-decoration: underline !important;
}

.footer .phones a {
    display: inline-block; /* Asegura que transformaciones funcionan */
}

.footer .phones a:first-child {
    padding-right: 1rem; /* Ajusta este valor según lo que necesites */
}

/* Responsive Design ------------------------------------------------------------- 
------------------------------------------------------------------------------------ */
@media (max-width: 768px) {
  .menu {
        display: none;
  }

  .menu a[href="#wedo"] {
        display: none !important; /* Oculta el enlace con "We Do" */
  }

  .navbar .menu a {
        display: none !important; /* Oculta todos los enlaces de la barra de navegación */
  }

  .hamburger-icon {
        display: block; /* Mostrar en versión móvil */
        position: absolute;
        top: 46%; /* Centrado verticalmente */
        right: 2rem; /* Alineado al extremo derecho */
        transform: translateY(-50%); /* Centrado perfecto */
        font-size: 1.5rem;
        margin-right: .6rem;
        color: white;
  }

  /* Ajustes adicionales si necesitas modificar el logo o el menú */
    .logo img {
        height: calc(15vw + 20px); /* Hace que el logo sea más grande en pantallas pequeñas */
        max-height: calc(10vw + 9px); /* Ajusta la altura máxima para que sea más grande */
        margin-top: .3rem;
        margin-left:2rem;
    }
    picture img {
        object-position: 25% 60%; /* Ajusta la posición de la imagen para móviles */
    }

  /* Mobile Menu ---------------------------------------------------------------------- */
    #mobilemenu {
        display: block;
        position: fixed;
        top: 0;
        right: -100%; /* Oculto fuera de la pantalla */
        height: 100vh; /* Ocupa toda la altura de la pantalla */
        width: 100vw; /* Ocupa todo el ancho de la pantalla */
        background-color: rgba(0, 0, 0, 0.80); /* Fondo negro semitransparente */
        z-index: 999; /* Siempre encima de otros elementos */
        transition: right 0.4s ease-in-out; /* Animación de deslizamiento */

    }

    /* Mobile Menu Visible */
    #mobilemenu.show {
        right: 0; /* Desliza hacia dentro de la pantalla */
    }

    /* Close Button */
    .close-menu {
        font-size: 2rem;
        color: white;
        text-align: right;
        padding: 1.3rem 2.6rem;
        cursor: pointer;
    }

    /* Mobile Menu Content */
    .mobilemenu-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 3rem); /* Resta espacio para el botón de cerrar */
        text-align: center;
    }

    .mobilemenu-content a {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        margin: .5rem 0;
        font-family: 'Nunito', sans-serif;
        font-weight: 600;
        transition: color 0.3s ease;
    }

    .mobilemenu-content a:hover {
        color: #f0a500; /* Cambia a un color más llamativo al pasar el cursor */
    }

    .menu {
        display: none;
    }

    .menu a[href="#wedo"] {
        display: none; /* Oculta el enlace con "We Do" */
    }

    .logomovil {
        display: flex; /* Centra el contenido dentro del contenedor */
        justify-content: center;
        align-items: center;
        width: 100%; /* Ocupa todo el ancho del contenedor */
        margin: 0 auto; /* Centra dentro de su contenedor padre */
    }

    .logomovil img {
        width: 100px; /* Tamaño específico */
        height: auto; /* Mantiene las proporciones */
        max-width: 100%; /* Asegura que no exceda el contenedor */
    }
    /* what we do -------------------------------------------------------------------------- */
    
.grid-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    #image-grid {
        position: relative; /* Asegura que este contenedor no cree un contexto conflictivo */
        z-index: 1; /* Debe estar debajo de la navbar */
        padding: 2%;
    }

    /*text-grid*/
    .grid-item h3 {
        text-align: right;
        padding: .5rem .5rem 0 0;
        margin:0;
    }
    .grid-item p{
        padding: 0 .5rem 0 0;
        margin:0;
    }

    #last {
        padding-bottom: 1rem;
    }

    .jobswedo .title {
        font-size: 1.5rem;
        margin: 2.3rem 1rem 1.4rem 1rem;
        font-weight: 500;
    }
    /* footer ------------------------------------------------------------------------- */
    .footer {
        display: flex;
        flex-direction: column; /* Cambia la disposición a vertical */
        justify-content: center; /* Centrar los bloques */
        align-items: flex-end; /* Asegura que todo esté centrado */
        margin: 1.5vh 2vh 0 2vh;
        padding: 2vh;
        height: auto; /* Permite ajuste dinámico en móviles */
        border-top: 1.5px solid black;
    }

    picture img.hidden {
        display: none;
    } /* aqui atribuimos una  clase hidden al footer para esconder el fondo 
    cuando se ve el footer. No encuentro otra manera de esconder la imagen 
    de fondo sin afectar al layout que js, css no me lo permite */

    .footer-links a, p {
        
        font-size: 0.8rem; 
        text-align: right; 
        padding: 0;
        
    }

    .footer-icon img {
        width: 2.2rem;
        height: auto;
        padding:.5rem .2rem 0 0;
        margin:0;
    }

    .footer, .copy {
        font-size: .5rem;
    }

    .footer-links.right, .footer-links.left  {
        align-items: flex-end;
    }

    .footer .phones a:first-child {
    padding-right: .5rem; /* Ajusta este valor según lo que necesites */
    }
}
